@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  --bg-color: #4a76fd;
  --card-color: #7394ff;
  --text-white: #ffffff;
  --transition-speed: 0.5s;
}

body.night {
  --bg-color: #000935; 
  --card-color: #2b345a; 
}

body.day {
  --bg-color: #4a76fd;
  --card-color: #7394ff;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
  font-family: 'Varela Round', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

.app {
  background-color: var(--bg-color);
  width: 320px; 
  border-radius: 40px;
  padding: 30px 20px;
  color: var(--text-white);
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
  text-align: center;
}

.Week_day h1 {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.9;
  margin-bottom: 20px;
  color: linen;
}

.city_temp {
  position: relative;
  margin-bottom: 30px;
  text-align: left;
  color: gainsboro;
}

.city_temp h1 {
  font-size: 32px;
  margin: 0;
  text-transform: capitalize;
}

.city_temp h2 {
  font-size: 72px;
  margin: 5px 0;
  font-weight: 800;
}

.city_temp img {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 100px;
  filter: drop-shadow(0 0 10px rgba(255,255,255,0.3));
}


.forecast {
  margin-bottom: 30px;
}

.forecast-list {
  display: flex;
  justify-content: space-between;
}

.forecast-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.forecast-card .time {
  opacity: 0.8;
  margin-bottom: 5px;
}

.forecast-card .temp {
  font-weight: bold;
  margin-bottom: 5px;
}

.forecast-card img {
  width: 40px;
}

.weather-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 0 5px;
}

.detail {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.detail span:first-child {
  opacity: 0.8;
  margin-bottom: 4px;
}

.detail span:last-child {
  font-weight: bold;
  font-size: 14px;
}

.future_days {
  background-color: var(--card-color);
  border-radius: 30px;
  padding: 20px;
  width: 280px;
}

.future-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  font-size: 14px;
}

.future-card:last-child {
  margin-bottom: 0;
}

.future-card div:first-child {
  flex: 2;
  text-align: left;
}

.future-card div:nth-child(2) {
  flex: 1;
  font-weight: bold;
  text-align: center;
}

.future-card img {
  width: 30px;
  flex: 0.5;
  display: block;
  margin-left: auto;
}